<footer class="w-full py-10 flex flex-col items-center">
  <nav>
    <ul class="flex gap-10 text-lg font-medium">
      <button class="hover:text-gray-500 transition" (click)="scrollToSection('home')">Home</button>
      <button class="hover:text-gray-500 transition" (click)="scrollToSection('profiles')">Profiles</button>
      <button class="hover:text-gray-500 transition" (click)="scrollToSection('projects')">Projects</button>
      <a routerLink="/login" class="hover:text-gray-500 transition">Login</a>
    </ul>
  </nav>
  <p class="flex items-center justify-around">
    Copyright © 2026 Dev‑Solutions. All Rights Reserved.
  </p>
</footer>
